:root {
  --BG-1: #131619;
  --BG-2: #1A1E23;
  --Brand-1: #30F711;
  --Brand-2: #44FF27;
  --Grey: #43454D;
  --White: #FFF;

  /* Color Theme Swatches in Hex */
  /*.Green-Globe-On-Moss---Environmental-Concept*/
  --1-hex: #042940;
  /*.Green-Globe-On-Moss---Environmental-Concept*/
  --2-hex: #005C53;
  /*.Green-Globe-On-Moss---Environmental-Concept*/
  --3-hex: #9FC131;
  /*.Green-Globe-On-Moss---Environmental-Concept*/
  --4-hex: #DBF227;
  /*.Green-Globe-On-Moss---Environmental-Concept*/
  --5-hex: #D6D58E;
}
